.head{
    text-align: center;
    margin-top: 20px ;
}
body{
        /* background-image: linear-gradient(to right,rgb(123, 124, 125) ,rgb(248, 248, 248)); */
        background-image: url(Animated_Shape.svg);
}
div.main1{
    width: 700px;
    margin: 30px auto 30px auto;
}

div.box{
    background-color: rgba(135, 135, 135, 0.5);
    width :100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.735);
    box-shadow: 2px 2px 15 px rgba(0, 0, 0, 0.3);
    color: #fff;
    
}

.box form{
    margin:80px;
    margin-top: 50px;
    margin-bottom: 50px;

}

label{
    font-family:sans-serif;
    font-size: 18px;
    font-style : italic;
}
input#name{
    width:100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: 0px;
    padding: 4px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);

}
input#submit{
    margin-top: 10px;
     width: 100%;
     padding: 7px;
     font-size: 16px;
     font-family: sans-serif;
     font-weight: 600;
     border: none;
    border-radius : 3px;
    background-color: rgba(55, 55, 55, 0.8);
    color :#fff;
    cursor: pointer;
    border:1px solid rgba(255, 255, 255, 0.3);
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);  
}

.main1 form a{
    color: white;
    text-decoration: none;
}
.form-group{
    margin-top: 20px;
}
.backtohome{
    margin-left: 400px;
}
.title{
    color: rgb(11, 0, 50);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
.phrase{
    color: rgb(11, 0, 50);
    text-align: center;
    font-weight: 500;
}
.sub{
    color: rgb(11, 0, 50);
    text-align: center;
}
.domain{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: white;
    height: 250px;
    width:250px;
    padding: 5px;
    margin-left: 40%;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.domain a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.domain a:hover{
    color:rgb(0, 51, 255);
}