<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckStack-GAMEDEV</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        .questions{
            width:60%;
            margin: 50px auto;
        }

        .suggestions{
            width:90%;
            margin: 50px auto;
            display:flex;
            flex-direction:row;
            justify-content:space-evenly;
        }
        .home{
            margin-top:30px;
            text-align:center;
        }


    </style>

</head>
<body>

<div class="home">
    <a href="/">Home</a>
</div>

<div class="questions">
    <form action="/suggest_gamedev" method="post">
        <div class="mb-4">
            <label class="form-label">1.Do you want to use a Library or an Engine?</label>
            <input name="eng" type="text" class="form-control" id="qn1">
            <div class="form-text">Enter 0/1 (Library/Engine)</div>
        </div>
        <div class="mb-4">
            <label class="form-label">2.Do you want to use a No Code platform?</label>
            <input name="code" type="text" class="form-control" id="qn2">
            <div class="form-text">Enter 0/1 (No-code/Code)</div>
        </div>
        <div class="mb-4">
            <label class="form-label">3.What is your skill level in JavaScript?</label>
            <input name="js" type="text" class="form-control" id="qn3">
            <div class="form-text">Enter a value from 0 to 10</div>
        </div>
        <div class="mb-4">
            <label class="form-label">4.What is your skill level in C++? language ?</label>
            <input name="cpp" type="text" class="form-control" id="qn4">
            <div class="form-text">Enter a value from 0 to 10</div>
        </div>
        <div class="mb-4">
            <label class="form-label">5.What is your skill level in Python?</label>
            <input name="py" type="text" class="form-control" id="qn5">
            <div class="form-text">Enter a value from 0 to 10</div>
        </div>
        <div class="mb-4">
            <label class="form-label">6.What is your skill level in C#?</label>
            <input name="cs" type="text" class="form-control" id="qn6">
            <div class="form-text">Enter a value from 0 to 10</div>
        </div>
        <div class="mb-4">
            <label class="form-label">7.How much time do you have to develop the project?</label>
            <input name="time" type="text" class="form-control" id="qn7">
            <div class="form-text">Enter a value from 0 to 12</div>
        </div>
        <div class="mb-4">
            <label class="form-label">8.How many people would be using your project (on scale of 0 to 10)?</label>
            <input name="scale" type="text" class="form-control" id="qn8">
            <div class="form-text">Enter a value from 0 to 10</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="suggestions">

    {%for i in data %}
    <div class="card" style="width: 18rem;">
        <img style="height:10rem;width=10rem;" src="{{i[3]}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{i[0]}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Specification : {{i[1]}}</li>
            <li class="list-group-item">Time to learn : {{i[2]}}</li>
        </ul>
    </div>
    {% endfor %}

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>